<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
	"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	  <display-name>paac-core</display-name>
	  <!--<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>classpath:/spring/spring-*.xml</param-value>
	  </context-param>
	  <filter>
	    <filter-name>struts2</filter-name>
	    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	  </filter>-->
	  <!-- 过滤器 -->
	 <!-- <filter>
			<filter-name>encodingFilter</filter-name>
			<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
			<init-param>
				<param-name>encoding</param-name>
				<param-value>UTF-8</param-value>
			</init-param>
			<init-param>
				<param-name>forceEncoding</param-name>
				<param-value>true</param-value>
			</init-param>
	  </filter>
	  <filter-mapping>
	    <filter-name>struts2</filter-name>
	    <url-pattern>/*</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
			<filter-name>encodingFilter</filter-name>
			<url-pattern>/*</url-pattern>
	  </filter-mapping>
	  <listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	  </listener>-->
	 <!-- <servlet>
	  	<servlet-name>AuthImageServlet</servlet-name>
	  	<display-name>AuthImageServlet</display-name>
	  	<description></description>
	  	<servlet-class>com.codelibrary.javaee.AuthImageServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	  	<servlet-name>AuthImageServlet</servlet-name>
	  	<url-pattern>/AuthImageServlet</url-pattern>
	  </servlet-mapping>-->
	<welcome-file-list>
	   <welcome-file>/website/index.html</welcome-file>
	</welcome-file-list>
</web-app>
